
<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %> </h1>

<br>
<h2> Player 1 <h2> <%= @game.player_1.name%>: <%= @game.player_1.hp %> HP
<br>

<form action="/attack" method="post">
  <button type="submit" value="<%= @game.player_2.name%>" name="attack">Attack P2</button>
</form>

<br>
<h2> Player 2 <h2> <%= @game.player_2.name %>: <%= @game.player_2.hp %> HP

<br>
<form action="/attack" method="post">
  <button type="submit" value="<%= @game.player_1.name%>" name="attack">Attack P1</button>
</form>

<% if !!@message %>
  <%= @message %>
<% end %>
